!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    - if(current_user && current_user.theme && (current_user.theme !== 'default'))
      link(rel='stylesheet', id="current-theme-style", href='/stylesheets/themes/' + current_user.theme + '.css')
    link(rel='stylesheet', href='/stylesheets/box.css')
    link(rel='stylesheet', href='/stylesheets/button.css')
    script(src="/javascripts/lib/requirejs/require-jquery.js", data-main="javascripts/main")
  body.theme-dark
    section#nav.boxshadow
      .contents
        ul#notelist
    section#bar
      .contents
        nav
          ul
            li.f
              a(href="#", data-target="#note5-menu", data-group="note5", style="font-weight:bold") NomNotes
            li
              a(href="#", data-target="#file-menu", data-group="file") File
            li
              a(href="#", data-target="#edit-menu", data-group="edit") Edit
            li
              a(href="#", data-target="#window-menu", data-group="window") Window
        a.icon.search(href="#", data-target="#search", data-group="search", data-position="right")
          span &nbsp;
        a.icon.tags(href="#", data-target="#tags", data-group="tags", data-position="right")
          span &nbsp;
        a.icon.login(href="#", data-target="#login", data-group="login", data-position="right") 
          span.text=(current_user && current_user.username) || "Sign in"
        
    section#main
      .contents
        .box4.dark
          div.page!=body
          .shl_box4
          .shr_box4
    ul#file-menu(class="menu-list", style="display:none")
      li
        a(href="#") New
      li
        a(href="#") Save
    ul#edit-menu(class="menu-list", style="display:none")
      li
        a(href="#") Copy
      li
        a(href="#") Paste
    ul#window-menu(class="menu-list", style="display:none")
      li
        a(href="#") Navigator
    ul#note5-menu(class="menu-list", style="display:none")
      li
        a(href="#") About NomNotes
      li.hr
      li
        a(href="#") Preferences...
    #search.menu-window(style="display:none") Search
      input(name="search", type="search")
    #tags.menu-window(style="display:none") Tags
      input(name="tags")
    #login.menu-window(style="display:none")
      #signed-in(class=current_user ? "show" : "hide")
        div
          img.gravatar(src="http://www.gravatar.com/avatar/" + (current_user ? current_user.gravatar : "") + "?d=retro")
          span.text=current_user ? current_user.email || current_user.username : ""
        hr
        div
          a.signout.text(href="#") Sign out
      form#signed-out(action="/", class=current_user ? "hide" : "show")
        div
          label Username: 
          input(name="username", placeholder="username", autocomplete="off")
          span.mark
          span.info
        //div.reg(style="display:none")
        //  hr
        div.reg(style="display:none")
          label Email:
          input(name="email", placeholder="email")
          span.mark
        div
          label Password:
          input(name="password", type="password", placeholder="password")
          span.mark
        div.reg(style="display:none")
          label Confirm:
          input(name="password2", type="password", placeholder="confirm password")
          span.mark
        span.spin
        p.alignright
          span.alignleft
            a.text.toggleView(href="#", style="text-decoration: underline") Don't have an account?
          button.minimal.small.submit Submit
        //input(style="position: absolute; right: 9999em", type="submit")
    .window
      form.inner
        h2 Save As
        div
          label Title
          input(type="text", name="title")
        div
          label Tags
          input(type="text", name="tags")
        div.alignright
          button.minimal Cancel
          button.minimal.primary Save